To find the similarity among different movies depend on type based.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#RATING BY USER ACCORDING TO MOVIE ID
#columns naming for rating df
rating_cols=['user_id','movie_id','rating']
ratings =pd.read_csv("data/u.data",sep="\t",usecols=range(3),names=rating_cols,encoding="ISO-8859-1")
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [3]:
#MOVIE TITLE AND ID 
movie_cols=['movie_id','movie_name']
movies=pd.read_csv("data/u.item",sep="|",usecols=range(2),names=movie_cols,encoding="ISO-8859-1")
movies.head()

   movie_id         movie_name
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [4]:
#MERGING BOTH DATAFRAMES TO ONE 
ratings = pd.merge(movies, ratings)
ratings.head()

   movie_id        movie_name  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [5]:
#NOW ROTATING TABLE WITH USER_ID ON LEFT SIDE AND MOVIE NAME ON TOP  BASED ON RATING VALUES
movie_ratings=ratings.pivot_table(index=['user_id'],columns=['movie_name'],values='rating')
movie_ratings.head()

movie_name,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#CORRELATION BETWEEN DIFFERENT MOVIES USING CORR FXN OF PANDAS
corr_matrix=movie_ratings.corr()
corr_matrix.head()

movie_name,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
movie_name,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [10]:
#CORRELATION BETWEEN DIFFERENT MOVIES USING CORR FXN OF PANDAS BUT BETWEEN THEM WHERE ATLEAST 100 USERS RATED MOVIE
corr_matrix=movie_ratings.corr(min_periods=100)
corr_matrix.head()

movie_name,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
movie_name,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
#NOW CREATING RECOMMENDATIONS FOR USER 1
user=1
user_ratings=movie_ratings.loc[user].dropna()
user_ratings

movie_name
101 Dalmatians (1996)                                      2.0
12 Angry Men (1957)                                        5.0
20,000 Leagues Under the Sea (1954)                        3.0
2001: A Space Odyssey (1968)                               4.0
Abyss, The (1989)                                          3.0
Ace Ventura: Pet Detective (1994)                          3.0
Air Bud (1997)                                             1.0
Akira (1988)                                               4.0
Aladdin (1992)                                             4.0
Alien (1979)                                               5.0
Aliens (1986)                                              5.0
All Dogs Go to Heaven 2 (1996)                             1.0
Amadeus (1984)                                             5.0
Angels and Insects (1995)                                  4.0
Antonia's Line (1995)                                      5.0
Apocalypse Now (1979)                                      3.0
Apollo 13 (1995)                                           4.0
Aristocats, The (1970)                                     2.0
Army of Darkness (1993)                                    4.0
Austin Powers: International Man of Mystery (1997)         4.0
Babe (1995)                                                1.0
Back to the Future (1985)                                  5.0
Bad Boys (1995)                                            2.0
Basic Instinct (1992)                                      3.0
Batman & Robin (1997)                                      1.0
Batman Forever (1995)                                      1.0
Batman Returns (1992)                                      1.0
Beavis and Butt-head Do America (1996)                     3.0
Bedknobs and Broomsticks (1971)                            2.0
Belle de jour (1967)                                       3.0
                                                          ...
Three Colors: Blue (1993)                                  5.0
Three Colors: Red (1994)                                   5.0
Three Colors: White (1994)                                 4.0
To Wong Foo, Thanks for Everything! Julie Newmar (1995)    3.0
Top Gun (1986)                                             4.0
Toy Story (1995)                                           5.0
True Romance (1993)                                        3.0
Truth About Cats & Dogs, The (1996)                        5.0
Turbo: A Power Rangers Movie (1997)                        1.0
Twelve Monkeys (1995)                                      4.0
Twister (1996)                                             3.0
Unbearable Lightness of Being, The (1988)                  4.0
Under Siege (1992)                                         2.0
Unforgiven (1992)                                          4.0
Unhook the Stars (1996)                                    4.0
Usual Suspects, The (1995)                                 5.0
Wallace & Gromit: The Best of Aardman Animation (1996)     5.0
Weekend at Bernie's (1989)                                 3.0
Welcome to the Dollhouse (1995)                            5.0
What's Eating Gilbert Grape (1993)                         4.0
When Harry Met Sally... (1989)                             5.0
When the Cats Away (Chacun cherche son chat) (1996)        4.0
While You Were Sleeping (1995)                             4.0
White Balloon, The (1995)                                  4.0
Willy Wonka and the Chocolate Factory (1971)               4.0
Wizard of Oz, The (1939)                                   4.0
Wrong Trousers, The (1993)                                 5.0
Young Frankenstein (1974)                                  5.0
Young Guns (1988)                                          3.0
unknown                                                    4.0
Name: 1, Length: 271, dtype: float64

#AN EXAMPLE TO SHOW HOW MOVIES ARE RELATED TO THIS MOVIE USING CORR_MATRIX
s=corr_matrix[user_ratings.index[0]].dropna()
print(s.head())
s=s.map(lambda x: x * user_ratings[0])
s.head()

In [92]:
#FINDING SIMILARITY OF SERIES WITH USER RATINGS 
#NOTE WHEN RATING 1 THEN USER DONT LIKE MOVIE SO WE DONT SHOW THAT
similar=pd.Series()
#appending all user movies atleast one so that we can drop even if movie not corr in corr_matrix to itself
similar=similar.append(user_ratings)
for i in range(0,len(user_ratings)):
    print("Adding similar movies depending on {}.".format(user_ratings.index[i]))
    #here we get list of movies and their ratings related to our movie
    sim=corr_matrix[user_ratings.index[i]].dropna()
    #multiplying our movie rating with the correlated movie
    sim=sim.map(lambda x: x * user_ratings[i])
    #appending this to series
    similar=similar.append(sim)

Adding similar movies depending on 101 Dalmatians (1996).
Adding similar movies depending on 12 Angry Men (1957).
Adding similar movies depending on 20,000 Leagues Under the Sea (1954).
Adding similar movies depending on 2001: A Space Odyssey (1968).
Adding similar movies depending on Abyss, The (1989).
Adding similar movies depending on Ace Ventura: Pet Detective (1994).
Adding similar movies depending on Air Bud (1997).
Adding similar movies depending on Akira (1988).
Adding similar movies depending on Aladdin (1992).
Adding similar movies depending on Alien (1979).
Adding similar movies depending on Aliens (1986).
Adding similar movies depending on All Dogs Go to Heaven 2 (1996).
Adding similar movies depending on Amadeus (1984).
Adding similar movies depending on Angels and Insects (1995).
Adding similar movies depending on Antonia's Line (1995).
Adding similar movies depending on Apocalypse Now (1979).
Adding similar movies depending on Apollo 13 (1995).
Adding similar movies depending on Aristocats, The (1970).
Adding similar movies depending on Army of Darkness (1993).
Adding similar movies depending on Austin Powers: International Man of Mystery (1997).
Adding similar movies depending on Babe (1995).
Adding similar movies depending on Back to the Future (1985).
Adding similar movies depending on Bad Boys (1995).
Adding similar movies depending on Basic Instinct (1992).
Adding similar movies depending on Batman & Robin (1997).
Adding similar movies depending on Batman Forever (1995).
Adding similar movies depending on Batman Returns (1992).
Adding similar movies depending on Beavis and Butt-head Do America (1996).
Adding similar movies depending on Bedknobs and Broomsticks (1971).
Adding similar movies depending on Belle de jour (1967).
Adding similar movies depending on Big Night (1996).
Adding similar movies depending on Billy Madison (1995).
Adding similar movies depending on Birdcage, The (1996).
Adding similar movies depending on Blade Runner (1982).
Adding similar movies depending on Blues Brothers, The (1980).
Adding similar movies depending on Bound (1996).
Adding similar movies depending on Bram Stoker's Dracula (1992).
Adding similar movies depending on Braveheart (1995).
Adding similar movies depending on Brazil (1985).
Adding similar movies depending on Breakfast at Tiffany's (1961).
Adding similar movies depending on Breaking the Waves (1996).
Adding similar movies depending on Bridge on the River Kwai, The (1957).
Adding similar movies depending on Brother Minister: The Assassination of Malcolm X (1994).
Adding similar movies depending on Brothers McMullen, The (1995).
Adding similar movies depending on Cable Guy, The (1996).
Adding similar movies depending on Cape Fear (1991).
Adding similar movies depending on Carlito's Way (1993).
Adding similar movies depending on Chasing Amy (1997).
Adding similar movies depending on Cinema Paradiso (1988).
Adding similar movies depending on Citizen Kane (1941).
Adding similar movies depending on Citizen Ruth (1996).
Adding similar movies depending on Clerks (1994).
Adding similar movies depending on Clockwork Orange, A (1971).
Adding similar movies depending on Cold Comfort Farm (1995).
Adding similar movies depending on Contact (1997).
Adding similar movies depending on Copycat (1995).
Adding similar movies depending on Crimson Tide (1995).
Adding similar movies depending on Crow, The (1994).
Adding similar movies depending on Crumb (1994).
Adding similar movies depending on Cyrano de Bergerac (1990).
Adding similar movies depending on D3: The Mighty Ducks (1996).
Adding similar movies depending on Dances with Wolves (1990).
Adding similar movies depending on Dead Man Walking (1995).
Adding similar movies depending on Dead Poets Society (1989).
Adding similar movies depending on Delicatessen (1991).
Adding similar movies depending on Desperado (1995).
Adding similar movies depending on Devil's Own, The (1997).
Adding similar movies depending on Diabolique (1996).
Adding similar movies depending on Die Hard (1988).
Adding similar movies depending on Die Hard 2 (1990).
Adding similar movies depending on Dirty Dancing (1987).
Adding similar movies depending on Disclosure (1994).
Adding similar movies depending on Dolores Claiborne (1994).
Adding similar movies depending on Doom Generation, The (1995).
Adding similar movies depending on Eat Drink Man Woman (1994).
Adding similar movies depending on Ed Wood (1994).
Adding similar movies depending on Empire Strikes Back, The (1980).
Adding similar movies depending on Event Horizon (1997).
Adding similar movies depending on Evil Dead II (1987).
Adding similar movies depending on Exotica (1994).
Adding similar movies depending on Fargo (1996).
Adding similar movies depending on Faster Pussycat! Kill! Kill! (1965).
Adding similar movies depending on Field of Dreams (1989).
Adding similar movies depending on Fifth Element, The (1997).
Adding similar movies depending on Firm, The (1993).
Adding similar movies depending on Fish Called Wanda, A (1988).
Adding similar movies depending on Flipper (1996).
Adding similar movies depending on Forrest Gump (1994).
Adding similar movies depending on Four Rooms (1995).
Adding similar movies depending on Four Weddings and a Funeral (1994).
Adding similar movies depending on Free Willy (1993).
Adding similar movies depending on Free Willy 2: The Adventure Home (1995).
Adding similar movies depending on French Twist (Gazon maudit) (1995).
Adding similar movies depending on Frighteners, The (1996).
Adding similar movies depending on From Dusk Till Dawn (1996).
Adding similar movies depending on Fugitive, The (1993).
Adding similar movies depending on Full Metal Jacket (1987).
Adding similar movies depending on Full Monty, The (1997).
Adding similar movies depending on Gattaca (1997).
Adding similar movies depending on George of the Jungle (1997).
Adding similar movies depending on Get Shorty (1995).
Adding similar movies depending on Ghost and the Darkness, The (1996).
Adding similar movies depending on Glengarry Glen Ross (1992).
Adding similar movies depending on Godfather, The (1972).
Adding similar movies depending on Godfather: Part II, The (1974).
Adding similar movies depending on GoldenEye (1995).
Adding similar movies depending on Gone with the Wind (1939).
Adding similar movies depending on Good Will Hunting (1997).
Adding similar movies depending on Good, The Bad and The Ugly, The (1966).
Adding similar movies depending on GoodFellas (1990).
Adding similar movies depending on Graduate, The (1967).
Adding similar movies depending on Grand Day Out, A (1992).
Adding similar movies depending on Grosse Pointe Blank (1997).
Adding similar movies depending on Groundhog Day (1993).
Adding similar movies depending on Haunted World of Edward D. Wood Jr., The (1995).
Adding similar movies depending on Heavy Metal (1981).
Adding similar movies depending on Henry V (1989).
Adding similar movies depending on Home Alone (1990).
Adding similar movies depending on Homeward Bound: The Incredible Journey (1993).
Adding similar movies depending on Hoop Dreams (1994).
Adding similar movies depending on Horseman on the Roof, The (Hussard sur le toit, Le) (1995).
Adding similar movies depending on Hot Shots! Part Deux (1993).
Adding similar movies depending on Hudsucker Proxy, The (1994).
Adding similar movies depending on Hunt for Red October, The (1990).
Adding similar movies depending on I.Q. (1994).
Adding similar movies depending on In the Company of Men (1997).
Adding similar movies depending on Independence Day (ID4) (1996).
Adding similar movies depending on Indiana Jones and the Last Crusade (1989).
Adding similar movies depending on Jaws (1975).
Adding similar movies depending on Jean de Florette (1986).
Adding similar movies depending on Jerry Maguire (1996).
Adding similar movies depending on Jude (1996).
Adding similar movies depending on Jungle2Jungle (1997).
Adding similar movies depending on Jurassic Park (1993).
Adding similar movies depending on Kansas City (1996).
Adding similar movies depending on Kids in the Hall: Brain Candy (1996).
Adding similar movies depending on Kolya (1996).
Adding similar movies depending on Kull the Conqueror (1997).
Adding similar movies depending on Last of the Mohicans, The (1992).
Adding similar movies depending on Lawnmower Man, The (1992).
Adding similar movies depending on Legends of the Fall (1994).
Adding similar movies depending on Lion King, The (1994).
Adding similar movies depending on Lone Star (1996).
Adding similar movies depending on Long Kiss Goodnight, The (1996).
Adding similar movies depending on Lost World: Jurassic Park, The (1997).
Adding similar movies depending on Love Bug, The (1969).
Adding similar movies depending on M*A*S*H (1970).
Adding similar movies depending on Mad Love (1995).
Adding similar movies depending on Madness of King George, The (1994).
Adding similar movies depending on Manon of the Spring (Manon des sources) (1986).
Adding similar movies depending on Mars Attacks! (1996).
Adding similar movies depending on Mask, The (1994).
Adding similar movies depending on Maverick (1994).
Adding similar movies depending on Maya Lin: A Strong Clear Vision (1994).
Adding similar movies depending on Men in Black (1997).
Adding similar movies depending on Mighty Aphrodite (1995).
Adding similar movies depending on Mimic (1997).
Adding similar movies depending on Mirror Has Two Faces, The (1996).
Adding similar movies depending on Moll Flanders (1996).
Adding similar movies depending on Monty Python and the Holy Grail (1974).
Adding similar movies depending on Monty Python's Life of Brian (1979).
Adding similar movies depending on Mr. Holland's Opus (1995).
Adding similar movies depending on Mr. Smith Goes to Washington (1939).
Adding similar movies depending on Much Ado About Nothing (1993).
Adding similar movies depending on Muppet Treasure Island (1996).
Adding similar movies depending on My Best Friend's Wedding (1997).
Adding similar movies depending on Mystery Science Theater 3000: The Movie (1996).
Adding similar movies depending on Nadja (1994).
Adding similar movies depending on Natural Born Killers (1994).
Adding similar movies depending on Net, The (1995).
Adding similar movies depending on Nightmare Before Christmas, The (1993).
Adding similar movies depending on Nightmare on Elm Street, A (1984).
Adding similar movies depending on Nikita (La Femme Nikita) (1990).
Adding similar movies depending on On Golden Pond (1981).
Adding similar movies depending on Operation Dumbo Drop (1995).
Adding similar movies depending on Outbreak (1995).
Adding similar movies depending on Patton (1970).
Adding similar movies depending on Phenomenon (1996).
Adding similar movies depending on Pillow Book, The (1995).
Adding similar movies depending on Pink Floyd - The Wall (1982).
Adding similar movies depending on Platoon (1986).
Adding similar movies depending on Postino, Il (1994).
Adding similar movies depending on Priest (1994).
Adding similar movies depending on Princess Bride, The (1987).
Adding similar movies depending on Private Benjamin (1980).
Adding similar movies depending on Professional, The (1994).
Adding similar movies depending on Psycho (1960).
Adding similar movies depending on Pulp Fiction (1994).
Adding similar movies depending on Quiz Show (1994).
Adding similar movies depending on Raging Bull (1980).
Adding similar movies depending on Raiders of the Lost Ark (1981).
Adding similar movies depending on Raising Arizona (1987).
Adding similar movies depending on Ref, The (1994).
Adding similar movies depending on Remains of the Day, The (1993).
Adding similar movies depending on Reservoir Dogs (1992).
Adding similar movies depending on Return of the Jedi (1983).
Adding similar movies depending on Return of the Pink Panther, The (1974).
Adding similar movies depending on Richard III (1995).
Adding similar movies depending on Ridicule (1996).
Adding similar movies depending on Right Stuff, The (1983).
Adding similar movies depending on Robert A. Heinlein's The Puppet Masters (1994).
Adding similar movies depending on Rock, The (1996).
Adding similar movies depending on Room with a View, A (1986).
Adding similar movies depending on Rumble in the Bronx (1995).
Adding similar movies depending on Santa Clause, The (1994).
Adding similar movies depending on Searching for Bobby Fischer (1993).
Adding similar movies depending on Seven (Se7en) (1995).
Adding similar movies depending on Sgt. Bilko (1996).
Adding similar movies depending on Shall We Dance? (1996).
Adding similar movies depending on Shanghai Triad (Yao a yao yao dao waipo qiao) (1995).
Adding similar movies depending on Shawshank Redemption, The (1994).
Adding similar movies depending on Shining, The (1980).
Adding similar movies depending on Silence of the Lambs, The (1991).
Adding similar movies depending on Sleeper (1973).
Adding similar movies depending on Sleepless in Seattle (1993).
Adding similar movies depending on Sling Blade (1996).
Adding similar movies depending on Smilla's Sense of Snow (1997).
Adding similar movies depending on Sneakers (1992).
Adding similar movies depending on Snow White and the Seven Dwarfs (1937).
Adding similar movies depending on So I Married an Axe Murderer (1993).
Adding similar movies depending on Sound of Music, The (1965).
Adding similar movies depending on Spitfire Grill, The (1996).
Adding similar movies depending on Star Trek III: The Search for Spock (1984).
Adding similar movies depending on Star Trek IV: The Voyage Home (1986).
Adding similar movies depending on Star Trek VI: The Undiscovered Country (1991).
Adding similar movies depending on Star Trek: First Contact (1996).
Adding similar movies depending on Star Trek: The Wrath of Khan (1982).
Adding similar movies depending on Star Wars (1977).
Adding similar movies depending on Stargate (1994).
Adding similar movies depending on Starship Troopers (1997).
Adding similar movies depending on Steel (1997).
Adding similar movies depending on Sting, The (1973).
Adding similar movies depending on Strange Days (1995).
Adding similar movies depending on Striptease (1996).
Adding similar movies depending on Supercop (1992).
Adding similar movies depending on Swingers (1996).
Adding similar movies depending on Taxi Driver (1976).
Adding similar movies depending on Terminator 2: Judgment Day (1991).
Adding similar movies depending on Terminator, The (1984).
Adding similar movies depending on Theodore Rex (1995).
Adding similar movies depending on This Is Spinal Tap (1984).
Adding similar movies depending on Three Colors: Blue (1993).
Adding similar movies depending on Three Colors: Red (1994).
Adding similar movies depending on Three Colors: White (1994).
Adding similar movies depending on To Wong Foo, Thanks for Everything! Julie Newmar (1995).
Adding similar movies depending on Top Gun (1986).
Adding similar movies depending on Toy Story (1995).
Adding similar movies depending on True Romance (1993).
Adding similar movies depending on Truth About Cats & Dogs, The (1996).
Adding similar movies depending on Turbo: A Power Rangers Movie (1997).
Adding similar movies depending on Twelve Monkeys (1995).
Adding similar movies depending on Twister (1996).
Adding similar movies depending on Unbearable Lightness of Being, The (1988).
Adding similar movies depending on Under Siege (1992).
Adding similar movies depending on Unforgiven (1992).
Adding similar movies depending on Unhook the Stars (1996).
Adding similar movies depending on Usual Suspects, The (1995).
Adding similar movies depending on Wallace & Gromit: The Best of Aardman Animation (1996).
Adding similar movies depending on Weekend at Bernie's (1989).
Adding similar movies depending on Welcome to the Dollhouse (1995).
Adding similar movies depending on What's Eating Gilbert Grape (1993).
Adding similar movies depending on When Harry Met Sally... (1989).
Adding similar movies depending on When the Cats Away (Chacun cherche son chat) (1996).
Adding similar movies depending on While You Were Sleeping (1995).
Adding similar movies depending on White Balloon, The (1995).
Adding similar movies depending on Willy Wonka and the Chocolate Factory (1971).
Adding similar movies depending on Wizard of Oz, The (1939).
Adding similar movies depending on Wrong Trousers, The (1993).
Adding similar movies depending on Young Frankenstein (1974).
Adding similar movies depending on Young Guns (1988).
Adding similar movies depending on unknown.

In [94]:
print("Similar movies...")
similar.sort_values(inplace=True,ascending=False)
print(similar.head(10))

Similar movies...
Cinema Paradiso (1988)             5.0
Blade Runner (1982)                5.0
Empire Strikes Back, The (1980)    5.0
Antonia's Line (1995)              5.0
Contact (1997)                     5.0
Mars Attacks! (1996)               5.0
Clerks (1994)                      5.0
Bound (1996)                       5.0
Cinema Paradiso (1988)             5.0
Dead Man Walking (1995)            5.0
dtype: float64

In [95]:
#SINCE MULLTIPLE NAMES APPEAR IN SIMILAR SO WE NEED TO VALIDATE THAT ALSO USER MIGHT HAVE WATCH MOVIE THAT HE RATED SO WE NEED TO EXCLUDE IT
similar=similar.groupby(similar.index).sum()
similar.head(10)

101 Dalmatians (1996)                   4.000000
12 Angry Men (1957)                    11.568119
20,000 Leagues Under the Sea (1954)     3.000000
2001: A Space Odyssey (1968)           47.103714
Absolute Power (1997)                   3.493642
Abyss, The (1989)                      37.878550
Ace Ventura: Pet Detective (1994)       6.000000
African Queen, The (1951)              24.621502
Air Bud (1997)                          1.000000
Air Force One (1997)                   36.711390
dtype: float64

In [96]:
#SORTING THE SIMILAR BY THE SIMILAR IN DESC ORDER OF SIMILARITY
similar.sort_values(inplace=True,ascending=False)
similar.head(10)

Raiders of the Lost Ark (1981)               120.630218
Back to the Future (1985)                    118.927926
Indiana Jones and the Last Crusade (1989)    104.752361
Return of the Jedi (1983)                    101.098239
Fugitive, The (1993)                         100.951700
Star Wars (1977)                             100.822282
Empire Strikes Back, The (1980)               98.544182
Toy Story (1995)                              96.288603
Terminator 2: Judgment Day (1991)             95.631513
Independence Day (ID4) (1996)                 91.497565
dtype: float64

In [97]:
#NOW REMOVING MOVIES THAT USER HAS ALREADY WATCHED
final_movies=similar.drop(user_ratings.index)
final_movies

E.T. the Extra-Terrestrial (1982)            81.664953
Speed (1994)                                 79.265119
True Lies (1994)                             76.958792
Mission: Impossible (1996)                   74.646305
Stand by Me (1986)                           65.130598
Butch Cassidy and the Sundance Kid (1969)    62.704854
Batman (1989)                                61.096730
Mrs. Doubtfire (1993)                        58.741003
Schindler's List (1993)                      58.703838
One Flew Over the Cuckoo's Nest (1975)       57.728112
Liar Liar (1997)                             54.360228
Dave (1993)                                  53.953889
Broken Arrow (1996)                          51.034976
It's a Wonderful Life (1946)                 50.784702
Ghost (1990)                                 50.440125
Clear and Present Danger (1994)              48.985681
Scream (1996)                                48.305007
Casablanca (1942)                            47.550291
Pretty Woman (1990)                          45.342163
In the Line of Fire (1993)                   44.830063
Glory (1989)                                 42.890891
Gandhi (1982)                                42.285966
Die Hard: With a Vengeance (1995)            42.139362
Ransom (1996)                                37.631360
Beauty and the Beast (1991)                  37.454408
Rear Window (1954)                           36.717523
Air Force One (1997)                         36.711390
Mary Poppins (1964)                          36.574433
Grease (1978)                                36.436588
American President, The (1995)               36.170379
                                               ...
Some Like It Hot (1959)                       2.758874
Murder at 1600 (1997)                         2.717321
Shine (1996)                                  2.613228
Harold and Maude (1971)                       2.297669
Father of the Bride Part II (1995)            2.276292
Manchurian Candidate, The (1962)              2.246242
James and the Giant Peach (1996)              2.226316
Bonnie and Clyde (1967)                       1.854268
G.I. Jane (1997)                              1.675383
Being There (1979)                            1.589402
Magnificent Seven, The (1954)                 1.477482
Michael (1996)                                1.473661
My Fair Lady (1964)                           1.412010
Boogie Nights (1997)                          1.354226
Apt Pupil (1998)                              1.220151
Rainmaker, The (1997)                         1.095795
Ulee's Gold (1997)                            0.902267
Devil's Advocate, The (1997)                  0.742352
Fly Away Home (1996)                          0.715286
Conan the Barbarian (1981)                    0.647579
Peacemaker, The (1997)                        0.579479
Everyone Says I Love You (1996)               0.573683
Crying Game, The (1992)                       0.411457
Kiss the Girls (1997)                         0.403637
Mother (1996)                                 0.389622
Cop Land (1997)                               0.348424
Spawn (1997)                                  0.307230
Seven Years in Tibet (1997)                   0.179323
Killing Fields, The (1984)                    0.043934
Wag the Dog (1997)                           -0.174735
Length: 132, dtype: float64